.list-group {
  &.justify-center {
    justify-content: center;
  }
}

.list-group-item {
  &.perc-17 {
    width: 17%;
  }
  &.perc-16 {
    width: 16%;
  }
  &.perc-15 {
    width: 15%;
  }
  &.perc-14 {
    width: 14%;
  }
}

.list-group-horizontal > .list-group-item + .list-group-item {
  border-left-width: 1px;
  border-radius: 4px;
}

.selected-day {
  background-color: lightcyan;
}

.circle {
  border-radius: 50%;
  margin: 5px 5px 0px 0px;
  width: 6px;
  height: 6px;
}

.info {
  font-size: x-small;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.min-w-30 {
  min-width: 30px;
}

.list-padding {
  padding: 0.375rem 0.75rem;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

.d-grid {
  display: grid;
}

.info-title {
  width: 100%;
  text-align: left;
}

.grid-height {
  min-height: 50px;
}

.week-day-sm {
  display: block
}
.week-day-md {
  display: none
}
.week-day-lg {
  display: none
}

.info-title-md, .info-title-lg {
  display: none
}

.current-day {
  background-color: mediumturquoise;
  min-width: 20px;
  border-radius: 4px;
}

/* Responsive Styles */
@media screen and (min-width: 550px) {
  .grid-height {
    height: 90px;
  }

  .week-day-sm {
    display: none
  }
  .week-day-md {
    display: block
  }
  .week-day-lg {
    display: none
  }

  .info-title-md {
    display: block
  }

  .current-day {
    border-radius: 4px;
  }
}

@media screen and (min-width: 950px) {
  .grid-height {
    height: 120px;
  }

  .week-day-sm {
    display: none
  }
  .week-day-md {
    display: none
  }
  .week-day-lg {
    display: block
  }

  .info-title-lg {
    display: block
  }

  .current-day {
    border-radius: 8px;
  }
}

@media screen and (max-width: 450px) {
  .list-group-item {
    padding: 1px;
    margin: unset;
  }
}