
<ul class="list-group list-group-horizontal flex-wrap justify-center">
  <li class="list-group-item perc-14 text-center" *ngFor="let weekDay of service.weekDays">
    <div class="week-day-sm">
      {{ weekDay.letter }}
    </div>
    <div class="week-day-md">
      {{ weekDay.threeWord }}
    </div>
    <div class="week-day-lg">
      {{ weekDay.day }}
    </div>
  </li>
</ul>

<ul class="list-group list-group-horizontal flex-wrap justify-center">
  <li class="list-group-item perc-14 text-center grid-height btn btn-light"
    *ngFor="let day of service.grid"
    (click)="selectDay(day)"
    [ngClass]="getClass(day)"
    >
    <div *ngIf="day.monthDay" [ngClass]="day.monthDay === service.currentDay ? 'current-day' : ''">
      {{ day.monthDay }}
    </div>
    <div *ngFor="let info of day.events" class="d-flex">
      <span>
        <div [ngStyle]="{'background-color': info.color ? info.color : 'white' }" class="circle"></div>
      </span>
      <span>{{ info.title }}</span>
      <span>{{ info.hour }}</span>
    </div>
  </li>
</ul>
