.list-group {
  &.justify-center {
    justify-content: center;
  }
}

.list-group-item {
  &.perc-17 {
    width: 17%;
  }
  &.perc-16 {
    width: 16%;
  }
  &.perc-15 {
    width: 15%;
  }
  &.perc-14 {
    width: 14%;
  }
}

.list-group-horizontal > .list-group-item + .list-group-item {
  border-left-width: 1px;
  border-radius: 4px;
}

.selected-day {
  background-color: lightcyan;
}

.circle {
  border-radius: 50%;
  width: 6px;
  height: 6px;
}

.grid-height {
  min-height: 50px;
}

.week-day-sm {
  display: block
}
.week-day-md {
  display: none
}
.week-day-lg {
  display: none
}

.current-day {
  background-color: mediumturquoise;
  min-width: 20px;
  border-radius: 4px;
  margin: 0px 0px;
}

/* Responsive Styles */
@media screen and (min-width: 550px) {
  .grid-height {
    height: 65px;
  }

  .week-day-sm {
    display: none
  }
  .week-day-md {
    display: block
  }
  .week-day-lg {
    display: none
  }

  .current-day {
    border-radius: 4px;
    margin: 0px 0px;
  }
}

@media screen and (min-width: 950px) {
  .grid-height {
    height: 80px;
  }

  .week-day-sm {
    display: none
  }
  .week-day-md {
    display: none
  }
  .week-day-lg {
    display: block
  }

  .current-day {
    border-radius: 8px;
    margin: 0px 25px;
  }
}

@media screen and (max-width: 300) {
  .list-group-item {
    padding: unset;
    margin: unset;
  }
}