
<ul class="list-group list-group-horizontal flex-wrap justify-center">
  <li class="list-group-item perc-14 text-center" *ngFor="let weekDay of service.weekDays">
    <div class="week-day-sm">
      {{ weekDay.letter }}
    </div>
    <div class="week-day-md">
      {{ weekDay.threeWord }}
    </div>
    <div class="week-day-lg">
      {{ weekDay.day }}
    </div>
  </li>
</ul>

<ul class="list-group list-group-horizontal flex-wrap justify-center">
  <li class="list-group-item perc-14 grid-height btn btn-light list-padding"
    *ngFor="let day of service.grid"
    (click)="selectDay(day)"
    [ngClass]="getClass(day)"
    >
    <div *ngIf="day.monthDay" class="text-right d-grid justify-end">
      <div [ngClass]="day.monthDay === service.currentDay ? 'current-day' : ''">
        {{ day.monthDay }}
      </div>
    </div>
    <div *ngFor="let info of day.events" class="d-flex text-left justify-between">
      <span>
        <div [ngStyle]="{'background-color': info.color ? info.color : 'white' }" class="circle"></div>
      </span>
      <span class="info">{{ info.title }}</span>
      <span class="info text-muted text-right min-w-30 ml-1">{{ info.hour }}</span>
    </div>
  </li>
</ul>
