<ng-container *ngIf="showInfo">

  <ng-container *ngIf="!showForm">

    <button type="button" class="btn btn-sm btn-info btn-block mb-4" (click)="addInfo()">
      New Event
    </button>

    <section *ngFor="let item of sortByTime(info.events)">
      <div class="card my-2">
        <div class="card-body">
          <p class="card-title mb-1">{{ item.title }}</p>
          <div class="row mb-1">
            <div class="col-2 d-grid">
              <div [ngStyle]="{'background-color': item.color ? item.color : 'black' }" class="color"></div>
            </div>
            <div class="col-10">{{ handleTime(item.time) }}</div>
          </div>
          
          <p class="card-text mb-1" *ngIf="item.description">{{ item.description }}</p>
          <p class="card-text mb-1" *ngIf="item.city">
            <span>{{ item.city }}</span>
            <button type="button" (click)="checkWeather(item)" *ngIf="!item.success"
              class="btn btn-outline-info btn-sm btn-block">
              Check Weather
            </button>
          </p>
          <div class="mb-1" id="item.id" *ngIf="item.success">
            <div class="card-text">
              {{ item.weather?.weather[0].main }} - {{ item.weather?.weather[0].description }}
            </div>
          </div>

          <div class="text-right">
            <button type="button" class="btn btn-sm btn-danger mr-1" (click)="delete(item)">
              Delete
            </button>
            <button type="button" class="btn btn-sm btn-info" (click)="edit(item)">
              Edit
            </button>
          </div>
        </div>
      </div>
    </section>

  </ng-container>

  <ng-container *ngIf="showForm">

    <section class="mt-5">
      <form [formGroup]="infoForm" (submit)="create($event)">

        <div class="form-group">
          <label for="monthDay">Day</label>
          <select class="form-control" formControlName="monthDay">
            <option [ngValue]="null" disabled>Choose a day</option>
            <option [ngValue]="day.monthDay" *ngFor="let day of filterMonthDays(service.grid)">
              {{ day.monthDay }}
            </option>
          </select> 
        </div>

        <div class="form-group">
          <label for="title">Title</label>
          <input
            formControlName="title"
            type="text"
            class="form-control"
            id="title"
            name="title"
            placeholder="Event title"
            required />
          <div class="alert alert-danger" role="alert"
            *ngIf="infoForm.controls.title.touched && infoForm.controls.title.errors?.required">
            Title is required.
          </div>
          <div class="alert alert-danger" role="alert"
            *ngIf="infoForm.controls.title.touched && infoForm.controls.title.errors?.maxlength">
            Title can be max 30 characters long. ({{ infoForm.controls.title.errors?.maxlength?.actualLength }}/{{ infoForm.controls.title.errors?.maxlength?.requiredLength }})
          </div>
        </div>

        <div class="form-group">
          <label for="time">Time</label>
          <input
            formControlName="time"
            type="time"
            class="form-control"
            id="time"
            name="time"
            required />
          <div class="alert alert-danger" role="alert"
            *ngIf="infoForm.controls.time.touched && infoForm.controls.time.errors?.required">
            Time is required.
          </div> 
        </div>

        <div class="form-group">
          <label for="city">City</label>
          <input
            formControlName="city"
            type="text"
            class="form-control"
            id="city"
            name="city"
            placeholder="Event city"/>
          <div class="alert alert-danger" role="alert"
            *ngIf="infoForm.controls.city.touched && infoForm.controls.city.errors?.maxlength">
            City can be max 30 characters long. ({{ infoForm.controls.city.errors?.maxlength?.actualLength }}/{{ infoForm.controls.city.errors?.maxlength?.requiredLength }})
          </div>
        </div>

        <div class="form-group">
          <label for="color">Color</label>
          <input
            formControlName="color"
            type="color"
            class="form-control"
            id="color"
            name="color" />
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <textarea
            formControlName="description"
            class="form-control"
            id="description"
            name="description"
            rows="3">
          </textarea>
        </div>

        <button type="submit" class="btn btn-info btn-block">Save</button>
      </form>
    </section>

  </ng-container>

</ng-container>
