
<ng-container *ngIf="showInfo">
  <ng-container *ngIf="!showForm">
    <button type="button" class="btn btn-sm btn-info" (click)="addInfo()">Add</button>
  </ng-container>
  <ng-container *ngIf="showForm">
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Event title">
      </div>
      <div class="form-group">
        <label for="hour">Time</label>
        <input type="time" id="hour" name="hour" min="01:00" max="12:00">
      </div>
      <div class="form-group">
        <label for="color">Color</label>
        <input type="color" id="color" name="color">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" rows="3"></textarea>
      </div>
    </form>
  </ng-container>
  {{ info.id }}
  {{ info.monthDay }}
</ng-container>
