
<ul class="list-group list-group-horizontal flex-wrap justify-center">
  <li class="list-group-item perc-14 text-center" *ngFor="let weekDay of days">
    <div class="week-day-sm">
      {{ weekDay.letter }}
    </div>
    <div class="week-day-md">
      {{ weekDay.threeWord }}
    </div>
    <div class="week-day-lg">
      {{ weekDay.day }}
    </div>
  </li>
</ul>

<ul class="list-group list-group-horizontal flex-wrap justify-center">
  <li class="list-group-item perc-14 text-center grid-height" *ngFor="let day of grid">
  </li>
</ul>
